<h1>About Jabberwocky Family Practice</h1>

<%=image_tag 'about.jpeg' %>
<p>Cupcake ipsum dolor. Sit amet cookie tootsie roll chocolate cake ice cream. Wafer jelly-o soufflé sweet lemon drops. Chocolate bonbon sweet marzipan jelly.</p>


<p>Ice cream muffin croissant. Cotton candy ice cream marshmallow donut pastry muffin. Donut lemon drops gingerbread oat cake. Candy canes jelly-o biscuit cake cookie cotton candy oat cake sweet croissant.</p>


<p>Gummi bears I love chocolate candy canes I love pastry cake soufflé toffee. Jujubes wafer carrot cake cookie. Cupcake bear claw muffin.</p>

<p>Dessert biscuit brownie jujubes cupcake tiramisu fruitcake jujubes. Dessert jujubes biscuit chupa chups I love sesame snaps dragée donut cupcake. Chocolate marzipan chupa chups candy powder I love croissant soufflé. Cookie ice cream brownie I love. </p>

<p>Chocolate cake candy soufflé. Lollipop chupa chups chocolate bar jelly-o gummies jelly sugar plum. Lemon drops candy gummi bears soufflé I love.</p>
