<h1>Jabberwocky Family Practice</h1>

<div class="row">
<div class="col s6">
  <div class="card">
    <div class="card-image">
    <%=image_tag 'doctor1.jpeg' %>
      <span class="card-title black">Schedule an Appointment</span>
    </div>
    <div class="card-content">
      <p>Click here to find a user profile, and set a new appointment. You can also call our office for same day cancellations.</p>
    </div>
    <div class="card-action indigo-text">
      <a <%=link_to 'Patients',patients_path %> </a>
    </div>
  </div>
</div>
<div class="col s6">
  <div class="card">
    <div class="card-image">
    <%=image_tag 'nurse.jpeg' %>
      <span class="card-title black">About our Practice</span>
    </div>
    <div class="card-content">
      <p>Find out more about our practice</p>
    </div>
    <div class="card-action indigo-text">
      <a <%=link_to 'About Us',about_path %> </a>
    </div>
  </div>
</div>
</div>

