<h1>Doctors </h1>
</br>
<%= link_to 'Patients ❀◕ ‿ ◕❀', patients_path %>	
</br>
<ul>
<% @doctors.each do |doctors| %>
    <li><%= link_to doctors.id, [@appointment, doctors] %> <%= link_to doctors.last_name, [@appointment, doctors] %></li>
   
    <% end %>
    </ul>
