<h1>Appointments</h1>
<br/>
<table>
<thead class="indigo-text text-lighten-2">
<tr>
  <th> Appointment Date/Time</th>
  <th> Doctor ID </th>
  </tr>
</thead>

<a class="waves-effect waves-light btn indigo" <%= link_to 'Add new Song', new_artist_song_path(@artist) %></a>
<a class="waves-effect waves-light btn indigo" <%= link_to 'Back to Artist', billboard_path(@billboard) %></a>
<br/>
<br/>

<tbody>
<% @appointments.each do |appointment| %>
  <tr>
  <td><%= link_to appointment.name, patient_appointment_path(@patient) %></td>
  <td><%= appointment.doctor_id %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
