<nav>
<div class="nav-wrapper indigo darken-3" >
  <a href="#" class="brand-logo center">JFP</a>
  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
      <%= link_to 'Home', root_path %>
      </li>
      <li>
      <%= link_to 'Patients', patients_path %></li>
      </li>
      <li>
      <%= link_to 'Doctors', doctors_path %></li>
      </li>
    </ul>
  </div>
  </nav>

 